
:root{
  --gap: 16px;
  --pad: 16px;
}

.holder{
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  background: #000;            
  padding: var(--pad);
  border-radius: 28px;
  max-width: 900px;
  margin: 24px auto;
}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 56px/1.1 system-ui, Arial, sans-serif;
  color: #000;                  
  border-radius: 14px;
  height: 160px;
  flex: 1 1 calc(33.333% - var(--gap));
}


.item:nth-child(1){
  flex: 1 1 calc(66.666% - var(--gap)); 
  background:#ff725e;
}
.item:nth-child(5){
  background:#ffa320;
}
.item:nth-child(3){
  background:#6f3aa7;
  color:#000;
}
.item:nth-child(2){
  background:#5b86b4;
}
.item:nth-child(4){
  background:#11830f;
  color:#000;
}

@media (max-width: 640px){
  .item{ 
    height: 120px; 
    font-size: 40px; 
  }
}
